<div class="finance py-5">
  <div class="container-fluid">
    <div class="row px-0">
      <div class="col-lg-6 px-0">
        <div class="left"></div>
      </div>
      <div class="col-lg-6 px-0">
        <div class="content bg-dark bg-gradient rounded-3">
          <div class="item p-5">
            <h2 class="title">ABC Measures Success Through Actual, Sustainable Financial Savings Achieved.</h2>
            <p class="text">
              Our consultants have profiled more than 500,000 suppliers, conducted over 1,000 executive training
              sessions and led clients through 5,000+ supplier negotiations.
            </p>
            <a class="btn p-3" href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="bg">
          <img src="../img/logistics/01.jpg" alt="bg" />
        </div>
      </div>
    </div>
  </div>
</div>
