<div class="footer py-5">
  <div class="container">
    <div class="row d-flex align-items-center py-3">
      <a href="#" class="header__logo col-lg-2">
        <img src="../img/logo-head.svg" alt="logo" />
      </a>
      <nav class="header__menu col-lg-10">
        <ul class="header__list d-flex justify-content-between p-0">
          <li><a href="#" class="header__link">About us</a></li>
          <li><a href="#" class="header__link">Consulting Services</a></li>
          <li><a href="#" class="header__link">Industries Served</a></li>
          <li><a href="#" class="header__link">Our Process</a></li>
          <li><a href="#" class="header__link">Results</a></li>
          <li><a href="#" class="header__link">Careers</a></li>
          <li><a href="#" class="header__link">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="copyright container">
    <div class="row">
      <div class="col-12">
        <section class="d-flex justify-content-center justify-content-lg-between py-4 border-top align-items-center">
          <div class="me-5 d-none d-lg-block">
            <p>Get connected with us on social networks:</p>
          </div>
          <div>
            <a href="" class="me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
