<header class="header py-3">
  <div class="container">
    <div class="row d-flex align-items-center">
      <a href="#" class="header__logo col-lg-2">
        <img src="../img/logo-head.svg" alt="logo" />
      </a>
      <nav class="header__menu col-lg-10">
        <ul class="header__list d-flex justify-content-between p-0">
          <li><a href="#" class="header__link">About us</a></li>
          <li><a href="#" class="header__link">Consulting Services</a></li>
          <li><a href="#" class="header__link">Industries Served</a></li>
          <li><a href="#" class="header__link">Our Process</a></li>
          <li><a href="#" class="header__link">Results</a></li>
          <li><a href="#" class="header__link">Careers</a></li>
          <li><a href="#" class="header__link">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="burger-menu">
    <a href="" class="burger-menu_button">
      <span class="burger-menu_lines"></span>
    </a>
    <nav class="burger-menu_nav">
      <a href="#" class="burger-menu_link">Why Qubit?</a>
      <a href="#" class="burger-menu_link">Products</a>
      <a href="#" class="burger-menu_link">Solutions</a>
      <a href="#" class="burger-menu_link">Customers</a>
      <a href="#" class="burger-menu_link">Case studies</a>
      <a href="#" class="burger-menu_link">Resources</a>
      <a href="#" class="burger-menu_link">More</a>
    </nav>
    <div class="burger-menu_overlay"></div>
  </div>
</header>
<div class="main py-5 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 py-2">
        <div class="item">
          <h1>Perfect Place For Your Business Promotion</h1>
          <p>
            Nam sed libero nec sem scelerisque mollis imperdiet a sem. Vestibulum ante ipsum primis in faucibus orci
            luctus
          </p>
          <a class="btn p-3" href="#">Get Started</a>
        </div>
        <div class="rows d-flex py-5">
          <div class="col-lg-3">
            <img src="../img/item-01.svg" alt="item-01" />
          </div>
          <div class="col-lg-3">
            <img src="../img/item-01.svg" alt="item-01" />
          </div>
          <div class="col-lg-3">
            <img src="../img/item-01.svg" alt="item-01" />
          </div>
          <div class="col-lg-3">
            <img src="../img/item-01.svg" alt="item-01" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="right" src="../img/head-02.jpg" alt="02" />
</div>
