<div class="logitics py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="left"></div>
      </div>
      <div class="col-lg-6 px-0">
        <div class="content bg-dark bg-gradient rounded-3">
          <div class="item">
            <h4>Redesigning Your Supply Chain</h4>
            <h6>Top 10 Focus Areas For Success</h6>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
            <div class="text d-flex py-2">
              <img src="../img/logistics/number.svg" alt="num" />
              <p class="mx-2">Logistics Network Optimization</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="bg">
          <img src="../img/logistics/01.jpg" alt="01" />
        </div>
      </div>
    </div>
  </div>
</div>
