<div class="migration py-5">
  <div class="container-fluid">
    <div class="row px-0">
      <div class="col-lg-6 px-0">
        <div class="left px-0 bg-dark bg-gradient rounded-3">
          <div class="content p-5">
            <div class="title my-4">
              <h2>The rrGreat</h2>
              <h2>Manufacturing Migration</h2>
            </div>
            <p>
              Many Global OEM and multinational consumer product corporations are embarking on a journey of
              transformation relative to establishing rooftops and manufacturing operations in North America to reduce
              global supply chain risks and be closer to the end-user/customer.
            </p>
            <span></span>
            <p>An unprecedented Supply Chain Migration is occurring, how can you assess your opportunity</p>
            <a class="btn p-3" href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-0">
        <div class="right"></div>
      </div>
      <div class="col-lg-12">
        <div class="bg">
          <img src="../img/logistics/01.jpg" alt="bg" />
        </div>
      </div>
    </div>
  </div>
</div>
