<div class="slider py-5 my-5">
  <div class="exprert-row d-flex align-items-center justify-content-around py-5">
    <h2 class="title m-3">Supply Chain Diversification & Acceleration Experts</h2>
    <div class="navs">
      <button class="previous round">&#8249;</button>
      <button class="next round">&#8250;</button>
    </div>
  </div>
  <div class="owl-carousel owl-theme owl-wrapper">
    <div class="item">
      <img src="../img/slider/01.jpg" alt="slid-01" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/01.jpg" alt="slid-01" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/02.jpg" alt="slid-02" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/03.jpg" alt="slid-03" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/01.jpg" alt="slid-01" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/01.jpg" alt="slid-01" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/02.jpg" alt="slid-02" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/03.jpg" alt="slid-03" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
    <div class="item">
      <img src="../img/slider/02.jpg" alt="slid-02" />
      <p class="d-flex align-items-center p-3">
        Communication & Media Services <i class="fa-solid fa-arrow-right p-3 next"></i>
      </p>
    </div>
  </div>
</div>
