.about {
  .item {
    position: relative;
    height: 100%;
    width: 100%;
    &::before {
      content: '';
      background: linear-gradient(0deg, #232626 32.04%, rgba(35, 38, 38, 0) 112.12%);
      opacity: 0.95;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 13px;
    }
    &:hover {
      scale: 1.1;
      z-index: 100;
      a {
        color: #f3c977;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .data {
      position: absolute;
      top: 21px;
      right: 21px;
      width: 113px;
      padding: 17px 34.5px;
      height: 113px;

      top: 21px;
      border-radius: 99px;
      background: #fff;
    }
    .text {
      position: absolute;
      bottom: 20px;
      left: 20px;

      h4 {
        color: white;
      }
      p {
        color: $color-secondary;
      }
    }
  }
}
.registration {
  position: relative;
  background-image: url(../img/about/bg-reg.jpg);
  padding: 15px;
  background-position: center;
  background-size: cover;
  width: 100%;
  &::before {
    content: '';
    background: linear-gradient(90deg, rgba(192, 138, 38, 0.9) 0%, #836328 100%);
    opacity: 0.93;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .title {
    color: white;
    position: relative;
    z-index: 5;
  }
  .suptitle {
    max-width: 519.26px;
    width: 100%;
    margin: 0 auto;
    color: $color-first;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
  }
  .form {
    position: relative;
    z-index: 5;
    background: white;
    max-width: 890.3px;
    margin: 0 auto;
    width: 100%;
  }

  .text {
    max-width: 844px;
    width: 100%;
    margin: 0 auto;
  }
  .item {
    p {
      margin-right: 50px;
    }
  }
  input[type='text'] {
    padding: 16px 20px;
    background: #f8f8f8;
    &::placeholder {
      color: #5d5e5f;
    }
  }
  select {
    padding: 16px 20px;
    background-color: #f8f8f8;
    color: #5d5e5f;
  }

  textarea {
    background: #f8f8f8;
  }
  .form-floating {
    label {
      color: #5d5e5f;
    }
  }
}
