.finance {
  position: relative;
  .left {
    position: relative;
    height: 100%;
    background: url(../img/finance-01-left.png) no-repeat;
    width: 100%;
    z-index: -1;
  }
  .content {
    margin-left: -100px;
    margin-top: 170px;
    padding: 150px 82px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 100%;
      background: url(../img/logistics/vectors.svg) no-repeat;
      background-size: cover;
      pointer-events: none;
      height: 100%;
    }

    .title {
      color: white;
    }
    .text {
      color: $color-secondary;
      line-height: 27px;
    }
  }

  .item {
    max-width: 738.82px;
    width: 100%;
    z-index: 10;
  }
  .bg {
    position: absolute;
    z-index: -5;
    top: 10%;
    right: 40%;
  }
}
