.logitics {
  position: relative;

  .left {
    position: relative;
    height: 100%;
    background: url(../img/logistics/02.jpg) no-repeat;
    width: 100%;
    z-index: -1;
  }
  .content {
    margin-left: -100px;
    margin-top: 170px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      width: 30%;
      background: url(../img/logistics/vectors.svg);
      height: 100%;
    }
    .item {
      padding: 32px;
      margin: 40px;
    }

    .title {
      color: white;
    }
    .text {
      color: $color-secondary;
      line-height: 27px;
    }
  }

  .bg {
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: -5;
  }
  // p {
  //   color: $color-secondary;
  // }
}
