.migration {
  position: relative;
  .left {
    margin-right: -100px;
    margin-top: 15%;

    .content {
      padding: 100px 100px 200px;
      width: 100%;
      position: relative;
      z-index: 10;
      &::before {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        background: url(../img/migrations/vector.svg) no-repeat;
        background-size: cover;
        height: 100%;
        pointer-events: none;
        z-index: -1;
      }
      .title {
        color: white;
      }
      p {
        color: $color-secondary;
        line-height: 27px;
      }
      a {
        margin-top: 25px;
      }
    }
  }
  .right {
    position: relative;
    height: 100%;
    background: url(../img/migrations/right.jpg) no-repeat;
    width: 100%;
    z-index: -1;
  }
  .bg {
    position: absolute;
    z-index: -5;
    top: 8%;
    right: 10%;
  }
}
